<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml/transitional.dtd">
<html>
	<head>
		<title><TMPL_VAR name></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="generic.css" type="text/css" />
		<link rel="stylesheet" href="layout.css" type="text/css" />
		<link rel="stylesheet" href="planet.css" type="text/css" />
		<link rel="stylesheet" href="bloggers.css" type="text/css" />
		<link rel="stylesheet" href="nlayout.css" type="text/css" />
		<link rel="icon" type="image/png" href="images/planet.png" />
		<link rel="alternate" type="application/rss+xml" title="<TMPL_VAR name>" href="rss20.xml" />

                <script type="text/javascript" src="jquery.min.js"></script>
                <script type="text/javascript" src="jquery.cookie.min.js"></script>

                <script type="text/javascript">
        function toggleFeeds() {
                $("#feedlist").slideToggle(function() {
                        $("#feeds h3").toggleClass("open");
                });
        }
        $(document).ready(function() {
                //$.cookie("hidden", null, {expires: -1});
                var hidden = $.cookie("hidden") ? $.cookie("hidden").split(",") : new Array();
                // hide posts by disabled folks
                if (hidden.length > 0) for (i in hidden) {
                        $("div." + hidden[i]).hide();
                }
                $("#feeds h3 a").click(function(e) {
                        e.preventDefault();
                        if ($("#feedlist ul").length == 0) {
                                $("#feedlist").load('feeds.html', '', function(r,t,x) {
                                        $('<input type="checkbox" checked>')
                                                .change(function() {
                                                        var nick = $(this).parent().attr("class");
                                                        var i = $.inArray(nick, hidden);
                                                        if ($(this).attr("checked")) {
                                                                if (hidden[i]) hidden.splice(i, 1);
                                                                $("div." + nick).show();
                                                        } else {
                                                                if (!hidden[i]) hidden[hidden.length] = nick;
                                                                $("div." + nick).hide();
                                                        }
                                                        $.cookie("hidden", hidden.join(","),
                                                                {expires: 365});
                                                })
                                                .prependTo("#feedlist ul li");
                                        // remove checks from disabled folks
                                        for (i in hidden) {
                                                $("#feedlist ul li." + hidden[i] + " input")
                                                        .removeAttr("checked");
                                        }
                                        toggleFeeds();
                                });
                        } else {
                                toggleFeeds();
                        }
                });
        });
        </script>

        <!-- Generated by Revive Adserver 3.0.2 -->
        <script type='text/javascript' src='http://reklam.lkd.org.tr/www/delivery/spcjs.php?id=4'></script>

	</head>
	<body>

		<div id="gezegen-sites">
		<ul>
			<li class="home"><a href="http://gezegen.linux.org.tr/" title="Gezegen">Gezegen</a><a href="http://haber.linux.org.tr" title="Linux Haber">Linux Haber</a></li>
        		<li><a href="http://gezegen.linux.org.tr/kisisel/" title="Kişisel Günlükler">Kişisel Günlükler</a></li>
        		<li><a href="http://gezegen.linux.org.tr/lkd/" title="LKD Günlükleri">LKD Günlükleri</a></li>
        		<li><a href="http://gezegen.linux.org.tr/topluluk/" title="Topluluk Günlükleri">Topluluk Günlükleri</a></li>
        		<li><a href="http://planet.linux.org.tr/" title="İngilizce Günlükler">İngilizce Günlükler</a></li>
		</div> <!-- /gezegen-sites -->
		
		<div id="hdr">
			<div id="banner">
				<img src="<TMPL_VAR link>/images/spacer.png" />
			</div>
			<div id="logo">
				<a href="<TMPL_VAR link>/">
					<img src="<TMPL_VAR link>/images/spacer.png" />
				</a>
			</div>
		</div>

		<div id="body">
			<TMPL_LOOP Items>
				<TMPL_IF new_date>
					<h2 class="date"><TMPL_VAR new_date></h2>
				</TMPL_IF>

				<div class="entry <TMPL_IF channel_nick><TMPL_VAR channel_nick></TMPL_IF>">
					<div class="person-info">
						<a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title ESCAPE="HTML">">
							<TMPL_IF channel_face>
								<img class="face" src="images/heads/<TMPL_VAR channel_face ESCAPE="HTML">" title="<TMPL_VAR channel_name>" />
								<br />
							<TMPL_ELSE>
								<img class="face" src="images/heads/nobody.png" title="<TMPL_VAR channel_name>" />
								<br />
							</TMPL_IF>
							<TMPL_VAR channel_name>
							<TMPL_IF channel_nick>
								<br />
								<!-- (<TMPL_VAR channel_nick>) -->
							</TMPL_IF>
						</a>
					</div>
					
					<div class="post">
						<div class="post2">
							<div class="post-header">
								<TMPL_IF title>
									<h4 class="post-title">
										<a href="<TMPL_VAR link ESCAPE="HTML">">
											<TMPL_VAR title>
										</a>
									</h4>
								<TMPL_ELSE>
									<div class="post-title">
										<span>&nbsp;</span>
									</div>
								</TMPL_IF>
							</div>
							<br />
							<div class="post-contents">
								<TMPL_VAR content>
								<br />
								<br />
								<div id="post-links" style="text-align: center;">
									<TMPL_IF comments>
										<a href="<TMPL_VAR comments ESCAPE="HTML">">
											<img src="images/yorum.png" border="0" title="Yorumlar" />
										</a>
									</TMPL_IF>
				                    <a href="http://del.icio.us/post?url=<TMPL_VAR link ESCAPE="HTML">&title=<TMPL_VAR title ESCAPE="HTML">" target="_blank">
										<img src="images/delicious.png" border="0" title="del.icio.us'a gönder" />
									</a>
									<a href="http://technorati.com/search/<TMPL_VAR link ESCAPE="HTML">" target="_blank">
										<img src="images/technorati.png" border="0" title="technorati'de ara" />
									</a>
								</div>
							</div>
							<div class="post-footer">
								<p>
									<a href="<TMPL_VAR link ESCAPE="HTML">">
										<TMPL_VAR date>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</TMPL_LOOP>
		</div>
		
		<div id="sidebar">
			<div class="section">
				<h3>Gezegen Hakkında</h3>
					<p>
						Kişisel Günlükler Gezegeni, Türkiye'de Linux ve Özgür Yazılım konusunda çalışmalar yapan arkadaşlarımızın internet üzerindeki günlüklerini bir tek sayfadan okumamızı ve kendi dünyalarına ulaşmamızı sağlayan basit bir web sitesidir.
					</p>
					<p>
						Gezegen kurallarına ulaşmak için <a href="http://gunluk.lkd.org.tr/gezegen/2008/10/27/gezegene-inis-ve-gezegen-kurallari/" title="Linux Gezegeni kurallarını okumak için tıklayın.." target="_blank">tıklayın</a>..
					</p>
					<p>
						Gezegeni <a href="http://www.planetplanet.org/">Planet</a> ile oluşturuyoruz, tasarım <a href="http://www.actsofvolition.com/">Steven Garrity</a>'nin eseri.
					</p>
			</div>
			
			<div class="section">
            <script type='text/javascript'><!--// <![CDATA[
                /* [id3] 125x125 - gezegen.linux.org.tr */
                OA_show(3);
            // ]]> --></script><noscript><a target='_blank' href='http://reklam.lkd.org.tr/www/delivery/ck.php?n=d545104'><img border='0' alt='' src='http://reklam.lkd.org.tr/www/delivery/avw.php?zoneid=3&amp;n=d545104' /></a></noscript>

            <script type='text/javascript'><!--// <![CDATA[
                /* [id4] 160x600 - gezegen.linux.org.tr */
                OA_show(4);
            // ]]> --></script><noscript><a target='_blank' href='http://reklam.lkd.org.tr/www/delivery/ck.php?n=31651ec'><img border='0' alt='' src='http://reklam.lkd.org.tr/www/delivery/avw.php?zoneid=4&amp;n=31651ec' /></a></noscript>

			</div>
			
                        <div id="feeds">
                                <h3><a href="feeds.html">Gezegen Sakinleri</a></h3>
                                <div id="feedlist"></div>
                        </div>

			<div class="section">
				<h3>Takip edin</h3>
				<ul>
					<li><a href="rss20.xml">RSS 2.0</a></li>
					<li><a href="rss10.xml">RSS 1.0</a></li>
					 <li><a href="atom.xml">ATOM</a></li>
					<li><a href="foafroll.xml">FOAF</a></li>
					<li><a href="opml.xml">OPML</a></li>
				</ul>
			</div>

			<div class="section">
				<h3>Güncelleme</h3>
				<p>Gezegen her 10 dakikada bir yenilenir.</p>
				<p>
					Son güncelleme: 
					<br />
					<TMPL_VAR date>
				</p>
			</div>

                        <div class="section">
                                <h3>İletişim</h3>
                                <p>
                                        Linux Gezegeni <a href="mailto:gezegen [at] linux.org.tr">Gezegen Ekibi</a> tarafından yönetilmektedir, Gezegen hakkındaki sorularınızı ve Gezegen'e iniş başvurularınızı e-posta ile iletebilirsiniz.
                                </p>
                                <p>
                                        Gezegene iniş başvurularınızda <a href="http://gunluk.lkd.org.tr/gezegen/2008/10/27/gezegene-inis-ve-gezegen-kurallari/" title="Linux Gezegeni kurallarını okumak için tıklayın.." target="_blank">Gezegen Kuralları</a>'na uyan RSS/Atom beslemenizi ve gezegen içerisinde kullanmak istediğiniz (en fazla 80x80 çözünürlüklü) resminizi (bir başka deyişle hackergotchi); varsa jabber adresinizle birlikte e-posta yoluyla göndermenizi rica ediyoruz.
                                </p>
                        </div>


		</div>
		
		<div id="footer">	

		<div id="copyright">
			Bu sayfa içerisinde yazılanlar doğru veya yanlış herhangi bir biçimde <a href="http://www.lkd.org.tr/">Linux Kullanıcıları Derneği</a>'ni bağlamaz.
			<br />
			LKD yalnızca Linux Gezegeni için teknik olanakları (sunucu, yazılım, bant genişliği) sağlar.
			<br />
			Ayrıca Gezegen istatistiklere <a href="http://gezegen.linux.org.tr/stats">buradan</a> ulaşabilirsiniz.
		</div>
		</div>

		<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7686552-2");
pageTracker._trackPageview();
} catch(err) {}</script>

<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://istatistik.linux.org.tr/" : "http://istatistik.linux.org.tr/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 6);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://istatistik.linux.org.tr/piwik.php?idsite=6" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->

	</body>
</html>
